body{
  margin: 0;
  text-align: center;
}
div{

}

h1{
  color: #66BFBF;
  font-size: 5.625rem;
  font-family: 'Sacramento', serif;
  margin-bottom: 10px;
}
h2{
  line-height: 2;
  color: #66BFBF;
  font-size: 2.5rem;
  font-weight: normal;
  font-family: 'Montserrat'

}
hr{
  width: 5%;
  color: #66BFBF;
  border-width: 5px;
  border-style: none;
  border-top-style: dotted;

}
p{
  color: #40514E;
  font-family: 'Merriweather'

}
.topcloud{
  margin-top: 50px;
  position: relative;
  left: 300px;
}
.top_container{
  background-color: #EAF6F6;

  position: relative;
}
.a{
  font-size: 20px;
  color: black;
  font-family: 'Montserrat', serif;
}
.pro{
  text-decoration: underline;
}
.block_check{

  background-color: blue;
  display: inline-block;
  width: 100px;
}
.cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom_cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.myprofile{
  margin-top: 50px;
  position: relative;
  height: 180px;
  width: 180px;
}

/* .container{
  position: relative;
  width: 600px;
  height: 600px;
  background-color: grey;
}
.red{
  background-color: red;
  height: 200px;
  width: 200px;
  position: absolute;
  left: 400px;
  top: 400px;


}
.blue{
  background-color: blue;
  height: 200px;
  width: 200px;
  position: absolute;
  top: 200px;
  left: 200px;


}
.yellow{
  background-color: yellow;
  height: 200px;
  width: 200px;
  position: relative;
  top: 0px;
  left: 0px;
}
.purple{
  background-color: purple;
  height: 200px;
  width: 200px;
  position: absolute;
  top: 400px;
  left: 0px;
}
.black{
  background-color: black;
  height: 200px;
  width: 200px;
  position: absolute;
  top: 0px;
  left: 400px;
} */
