div{

}
body{
  margin: 0;
}
h1{
  margin-top: 0;
}
.top_container{

}
.down_container{

}
.pro{
  text-decoration: underline;
}
.block_check{

  background-color: blue;
  display: inline-block;
  width: 100px;
}
