h2{
  color: #45b29a;
  font-family: consolas;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
.perfomance {
  width: 150px;
}
.test {
  border-radius: 150%;
}
.profile {
  width: 150px;
}
h1{
  color: black;
  font-family: consolas;
}
p{
  font-family: consolas;
}
body{
  background-color: white;
}
td{
  font-family: consolas;
  font-size: 20px;
  padding-left: 30px;
  color: grey;
}
#intro:hover {
  color: blue;
}
