<!DOCTYPE HTML>

<html lang="en">
	<head>
		<title>Login</title>
	</head>
	<body>
        <div class="container">
		<h1>Login</h1>
            <form method="post" action="{{ url_for('login') }}" novalidate>
            <p>
                <b>{{ form.email.label }}</b> <br> {{ form.email(size=30) }}
                {% for err in form.email.errors %}
                <span style="color:red">{{ err }}</span>
                {% endfor %}
            </p>
            <p>
                <strong>{{ form.password.label }}</strong><br>{{ form.password(size=30) }}
                {% for err in form.password.errors %}
                <span style="color:red">{{ err }}</span>
                {% endfor %}
            </p>
            <p>{{ form.submit }}</p>

            </form>

        </div>
	</body>
</html>