<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mamun's Blog</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="title"><h1>Mamun's Blog</h1></div>
    </div>
    {% for i in range(0, count) %}
            <div class="card">
                <h2>{{ blog[i]["title"] }}</h2>
                <p class="text">{{ blog[i]["subtitle"] }} </p>
                <a href="{{url_for('get_post', post_ids=i)}}">Read</a>
            </div>
        </div>
    {% endfor %}


</body>
<footer>
    <p>Made By Md. Mamun</p>
</footer>
</html>