{% extends 'bootstrap/base.html' %}

{% block title %}Restaurants{% endblock %}
{% block styles %}
    {{ super() }}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" >
{% endblock %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Cafes</h1>

	  <table class="table">
      <thead>
        <tr>
          {% for i in range(0,crLen) %}
              {% if i==0 %}
                  {% for j in range(0, ccLen) %}
                        <th>{{ cafes[i][j] }}</th>
                  {% endfor %}
                </tr>
              </thead>
              {% elif i > 0 %}
              <tbody>
                <tr>
                  {% for j in range(0, ccLen) %}
                      {% if j==1 %}
                            <td><a href="{{ cafes[i][j] }}">Maps Link</a></td>
                      {% else %}
                            <td>{{ cafes[i][j] }}</td>
                      {% endif %}
                  {% endfor %}
              {% endif %}
          {% endfor %}
            </tr>
          </tbody>
  	  </table>

      <p><a href="#">Return to index page</a></p>

    </div>
  </div>
</div>

{% endblock %}
