h1 {
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Ubuntu', sans-serif; */
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;
}
#title{
  background-color: #ff4c68;
}
.container-fluid{
  padding: 3% 15%;
}
body{
  font-family: 'Montserrat', sans-serif;
}
